<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
   Copyright (c) 2019, 2020 1C-Soft LLC.

   This program and the accompanying materials are made available under
   the terms of the Eclipse Public License 2.0 which is available at
   https://www.eclipse.org/legal/epl-2.0/

   SPDX-License-Identifier: EPL-2.0

   Contributors:
       Vladimir Piskarev (1C) - initial API and implementation
-->
<plugin>
   <extension
         id="problem"
         name="TypeScript Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="org.lxtk.lx4e.examples.typescript"
            name="TypeScript (LXTK Example)"
            file-extensions="ts, js"
            base-type="org.eclipse.core.runtime.text"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.lxtk.lx4e.internal.examples.typescript.TypeScriptPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            scopeName="source.ts"
            path="syntaxes/TypeScript.tmLanguage.json" >
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.lxtk.lx4e.examples.typescript"
            scopeName="source.ts">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration
            contentTypeId="org.lxtk.lx4e.examples.typescript"
            path="language-configuration.json">
      </languageConfiguration>
   </extension>
   <extension
         point="org.eclipse.tm4e.ui.themes">
      <themeAssociation
            scopeName="source.ts"
            themeId="org.eclipse.tm4e.ui.themes.Light">
      </themeAssociation>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="org.lxtk.lx4e.examples.typescript.editor"
            name="TypeScript Editor (LXTK Example)"
            default="false"
            class="org.lxtk.lx4e.internal.examples.typescript.editor.TypeScriptEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor">
         <contentTypeBinding
               contentTypeId="org.lxtk.lx4e.examples.typescript">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.lxtk.lx4e.examples.typescript.editor.scope"
            parentId="org.eclipse.ui.textEditorScope"
            name="Editing TypeScript Source (LXTK Example)"
            description="Editing TypeScript Source Context">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.lxtk.lx4e.examples.typescript.category.source"
            description="TypeScript Source Actions"
            name="Source">
      </category>
      <command
            id="org.lxtk.lx4e.examples.typescript.openSymbol"
            categoryId="org.eclipse.ui.category.navigate"
            name="Open Symbol (TypeScript)"
            description="Show a list of project-wide symbols"
            defaultHandler="org.lxtk.lx4e.internal.examples.typescript.TypeScriptSymbolSelectionHandler">
      </command>
      <command
            id="org.lxtk.lx4e.examples.typescript.editor.quickOutline"
            categoryId="org.eclipse.ui.category.navigate"
            name="Quick Outline"
            description="Show the quick outline for the editor input"
            defaultHandler="org.lxtk.lx4e.internal.examples.typescript.editor.TypeScriptOutlinePopupHandler">
      </command>
      <command
            id="org.lxtk.lx4e.examples.typescript.editor.findReferences"
            categoryId="org.eclipse.search.ui.category.search"
            name="Find References"
            description="Find references to the selected symbol"
            defaultHandler="org.lxtk.lx4e.internal.examples.typescript.editor.FindReferencesHandler">
      </command>
      <command
            id="org.lxtk.lx4e.examples.typescript.editor.rename"
            categoryId="org.eclipse.ltk.ui.category.refactoring"
            name="Rename"
            description="Rename the selected symbol"
            defaultHandler="org.lxtk.lx4e.internal.examples.typescript.editor.RenameHandler">
      </command>
      <command
            id="org.lxtk.lx4e.examples.typescript.editor.format"
            categoryId="org.lxtk.lx4e.examples.typescript.category.source"
            name="Format"
            description="Format the selected text"
            defaultHandler="org.lxtk.lx4e.internal.examples.typescript.editor.FormatHandler">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            sequence="M2+M3+Y"
            commandId="org.lxtk.lx4e.examples.typescript.openSymbol"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="M1+O"
            commandId="org.lxtk.lx4e.examples.typescript.editor.quickOutline"
            contextId="org.lxtk.lx4e.examples.typescript.editor.scope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="F3"
            commandId="org.eclipse.ui.edit.text.open.hyperlink"
            contextId="org.lxtk.lx4e.examples.typescript.editor.scope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="M1+M2+G"
            commandId="org.lxtk.lx4e.examples.typescript.editor.findReferences"
            contextId="org.lxtk.lx4e.examples.typescript.editor.scope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="M2+M3+R"
            commandId="org.lxtk.lx4e.examples.typescript.editor.rename"
            contextId="org.lxtk.lx4e.examples.typescript.editor.scope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+R"
            commandId=""
            contextId="org.lxtk.lx4e.examples.typescript.editor.scope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="COMMAND+ALT+R"
            commandId="org.lxtk.lx4e.examples.typescript.editor.rename"
            contextId="org.lxtk.lx4e.examples.typescript.editor.scope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M2+F"
            commandId="org.lxtk.lx4e.examples.typescript.editor.format"
            contextId="org.lxtk.lx4e.examples.typescript.editor.scope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:#ExampleTypeScriptEditorContext?after=group.open">
         <command
               commandId="org.eclipse.ui.edit.text.open.hyperlink"
               style="push">
         </command>
         <command
               commandId="org.lxtk.lx4e.examples.typescript.editor.quickOutline"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:#ExampleTypeScriptEditorContext?after=group.find">
         <command
               commandId="org.lxtk.lx4e.examples.typescript.editor.findReferences"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:#ExampleTypeScriptEditorContext?endof=group.edit">
         <menu
               id="org.lxtk.lx4e.examples.typescript.editor.source.menu"
               label="Source">
            <command
                  commandId="org.lxtk.lx4e.examples.typescript.editor.format"
                  style="push">
            </command>
         </menu>
         <menu
               id="org.lxtk.lx4e.examples.typescript.editor.refactoring.menu"
               label="Refactoring">
            <command
                  commandId="org.lxtk.lx4e.examples.typescript.editor.rename"
                  style="push">
            </command>
         </menu>
         <menu
               id="org.lxtk.lx4e.examples.typescript.editor.codeActions.menu"
               label="Code Actions">
            <dynamic
                  class="org.lxtk.lx4e.internal.examples.typescript.TypeScriptCodeActionMenu"
                  id="org.lxtk.lx4e.examples.typescript.editor.codeActions.items">
            </dynamic>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.lxtk.lx4e.internal.examples.typescript.TypeScriptMarkerResolutionGenerator"
            markerType="org.lxtk.lx4e.examples.typescript.problem">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.lxtk.lx4e.examples.typescript.editor.ruler.actions"
            targetID="org.lxtk.lx4e.examples.typescript.editor">
         <action
               label="TypeScript Editor Ruler Single-Click"
               class="org.lxtk.lx4e.internal.examples.typescript.editor.SelectRulerActionDelegate"
               actionID="RulerClick"
               id="org.lxtk.lx4e.examples.typescript.editor.ruler.actions.click">
         </action>
      </editorContribution>
   </extension>
</plugin>
