name: release

on:
  push:
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build-and-release:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 11

    - name: Cache maven repo
      uses: actions/cache@v3
      if: github.event_name == 'push'
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-base-${{ hashFiles('**/pom.xml') }}-${{ hashFiles('targets/base/base.target') }}
        restore-keys: |
          ${{ runner.os }}-maven-base-

    - name: Build with Maven (base target)
      working-directory: ./releng
      run: mvn clean verify -Dtycho.localArtifacts=ignore -Dtarget=base -Pjavadoc -B -V

    - name: Prepare P2 repository and Javadocs
      working-directory: ./repository/target
      run: |
        cp lxtk-repository-$(cat VERSION).zip lxtk-repository.zip
        mkdir javadoc && cp -r reference/api/* javadoc
        zip -r lxtk-javadocs.zip javadoc
    
    - name: Create release
      id: create_release
      uses: actions/create-release@latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: ${{ github.ref }}
        draft: true
        prerelease: true

    - name: Read version
      id: vars
      run: echo ::set-output name=tag::${GITHUB_REF:10}

    - name: Upload P2 repository
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./repository/target/lxtk-repository.zip
        asset_name: lxtk-repository-${{ steps.vars.outputs.tag }}.zip
        asset_content_type: application/zip

    - name: Upload Javadocs
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./repository/target/lxtk-javadocs.zip
        asset_name: lxtk-javadocs-${{ steps.vars.outputs.tag }}.zip
        asset_content_type: application/zip
